<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box container">
  <% newListItems.forEach(function(newItem, index){ %>
  <form class="" action="/delete" method="post">
    <div class="item row">
      <div class="col-4 col-md-1">
        <input type="checkbox" name="checkbox" value="<%= newItem._id %>" onchange="this.form.submit()">
      </div>
      <div class="col-8 col-md-8">

        <p><%=  newItem.name  %></p>
      </div>
      <% if (index > 1) { %>
        <div class="col-6 col-md-3">
          <p>Since <%= newItem.startDay %></p>

        </div>
      <%} %>

    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>

  <% }) %>


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="I don't want to..." autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
