<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box container">
  <% newListItems.forEach(function(newItem){ %>
  <form class="" action="/delete" method="post">
    <div class="item row">
      <div class="col-6 col-md-2">
        <input type="checkbox" name="checkbox" value="<%= newItem._id %>" onchange="this.form.submit()">
      </div>
      <div class="col-6 col-md-6">

        <p><%=  newItem.name  %></p>
      </div>
      <div class="col-6 col-md-4">
        <p>Since <%= day %></p>

      </div>

    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>

  <% }) %>


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
